name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: jetbrains
        java-version: 21

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build
      run: ./gradlew build -x allTests

    - name: Run tests
      run: ./gradlew allTests

    - name: Publish test results
      uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc # v6.1.0
      if: always()
      with:
        report_paths: '**/build/test-results/*/TEST-*.xml'
